* {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  max-width: 1440px;
  /* font-family: "Overpass", sans-serif; */
  /* font-family: "Ubuntu", sans-serif; */
}

/* Introduction-div */
.intro {
  background: linear-gradient(to bottom right, #ff8f70, #ff3d54),
    url("../images/bg-pattern-intro-desktop.svg") center/cover;
  background-size: auto;
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  border-bottom-left-radius: 80px;
  position: relative;
  color: white;
  height: 80vh;
  margin-bottom: 4rem;
}

/* Navbar-code */
nav {
  display: flex;
  padding-top: 30px;
  margin: 0 10%;
  justify-content: flex-start;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav img {
  display: inline;
  align-self: center;
  cursor: pointer;
  /* margin-inline-end: 7em; */
}

.hamburger-icon{
  display: none;
}

/* styles.css */

/* Container for each dropdown */
.dropdown {
  display: inline-flex;
  margin: auto;
}

/* Style for the button that opens the dropdown */
.dropdown-btn {
  font-weight: 400;
  color: white;
  /* margin-inline-end: 2em; */
  align-content: center;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-btn a {
  background-color: none;
}

/* .down-arrow-icon{
  margin: 0;
} */

.dropdown-btn:hover {
  text-decoration: underline;
}

/* Container for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  font-weight: 700;
}

/* Show the dropdown content when the dropdown is hovered */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  margin-top: 2.7em;
}

.down-arrow-icon:hover {
  display: none;
}

/* Signup-button */
.signup-btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 15px 25px;
  border-style: none;
  text-align: center;
  border-radius: 25px;
  color: #ff3d54;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #ff7a85;
  color: white;
}

/* Login-link */
.login-link {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: 15px;
  align-content: center;
  text-decoration: none;
  color: #ffff;
}

.login-link:hover {
  text-decoration: underline;
}

/* Intro codes */
.intro-texts {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100vw;
  transform: translate(-50%, -50%);
}

.intro-header {
  font-family: "Overpass", sans-serif;
  transform: scale(1.2, 1.2);
  transform-origin: center;
  margin: 5px 3px 2px;
  font-size: 2.5rem;
  font-optical-sizing: auto;
  font-weight: 600;
  width: 100%;
}

.intro-paragraph {
  font-family: "Overpass", sans-serif;
  transform: scale(1, 1);
  transform-origin: center;
  font-size: 1rem;
  color: rgb(224, 224, 224);
  font-weight: 300;
  /* margin-top: 1%; */
}

/* Intro-buttons */
.intro-buttons {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start-for-free-btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 15px 25px;
  border-style: none;
  text-align: center;
  border-radius: 25px;
  color: #ff3d54;
  cursor: pointer;
}

.start-for-free-btn:hover {
  background-color: rgba(255, 255, 255, 0.288);
  color: white;
}

.learn-more-btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 15px 25px;
  border-style: none;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: #ffffff;
  cursor: pointer;
}

.learn-more-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #ff3d54;
}

/* Designed for the future section */

.designed-for-the-future {
  height: 100vh;
  margin: 0;
  padding: 0% 10% 5% 10%;
  background-image: url("../images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 130% center;
  position: relative;
}

.future-designs {
  /* display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 58%;
  padding-top: 8%; */
  position: absolute;
  top: 53%;
  left: 25rem;
  /* margin-left: 10%; */
  width: 40%;
  /* left: 27%;*/
  /* width: 35%;  */
  transform: translate(-50%, -50%);
}

.designed-future-logo {
  display: none;
}

.future-designs h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
  color: #1f3f5b;
  padding: 15px 0px;
}

.future-designs p {
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 88, 98);
  line-height: 1.7;
  padding-bottom: 40px;
  width: 100%;
}
.designedfuture-header {
  padding-top: 2rem;
  text-align: center;
  font-size: 2em;
  font-family: "Ubuntu", sans-serif;
  color: #1f3f5b;
  font-weight: 600;
}

/* State of the Art Infrasture */
.art-infrastructure {
  background: radial-gradient(circle, #2c2d3f, #3f4164),
    url("/images/bg-pattern-circles.svg");
  background-blend-mode: overlay;
  background-size: auto, 45%; /* The gradient is full width, the image is 45% */
  background-position: center, bottom left; /* Gradient centered, image at bottom left */
  background-repeat: no-repeat;
  height: 50vh;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 110px;
  position: relative;
  width: 100%;
  margin: 4rem 0;
}

.illustration-phones img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  bottom: 55px;
  left: 85px;
  max-width: 450px;
}
.state-of-the-art-infrastructure {
  position: absolute;
  top: 50%;
  left: 63%;
  width: 35%;
  transform: translate(-50%, -50%);
}
.state-of-the-art-infrastructure h3 {
  font-family: "Overpass", sans-serif;
  font-size: 2.1em;
  color: #fff;
  padding: 12px 0px;
}

.state-of-the-art-infrastructure p {
  font-family: "Overpass", sans-serif;
  font-weight: lighter;
  font-size: 1em;
  color: #fff;
  line-height: 1.7;
}

/* About blogr */

.about-blogr {
  height: 100vh;
  /* padding-right: 10%; */
  background-image: url("../images/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: -45% center;
  position: relative;
  padding-top: 20%;
}

.about-lists {
  /* display: flex;
  flex-direction: column;
  justify-content: right; 
  margin-left: 40%;
  margin-right: 10%; */
  position: absolute;
  top: 50%;
  left: 63.5%;
  width: 35%;
  transform: translate(-50%, -50%);
}

.laptop-icon-mobile {
  display: none;
}

.about-lists h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
  color: #1f3f5b;
  padding: 15px 0px;
}

.about-lists p {
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 88, 98);
  line-height: 1.7;
  padding-bottom: 40px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  color: #c8c8cb;
  background-color: #25252d;
  border-top-right-radius: 100px;
  height: max-content;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  margin-top: 4rem;
}

.footer-icon {
  height: 5rem;
  padding-top: 50px;
  width: 6rem;
}

.services {
  padding-top: 50px;
}

.services h3 {
  padding-bottom: 25px;
}

.services a {
  color: #c8c8cb;
  cursor: pointer;
  text-decoration: none;
}

.services a:hover {
  text-decoration: underline;
}

.services li {
  padding-bottom: 10px;
}

.services li {
  font-weight: lighter;
}

/* Add this to the end of your CSS file */

/* General reset and box-sizing */

@media (max-width: 1160px) {
  * {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav {
    max-width: 100vw;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  body {
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
  }

  /* Introduction-div */
  .intro {
    height: 80vh;
    border-bottom-left-radius: 100px;
    background: linear-gradient(to bottom right, #ff8f70, #ff3d54),
      url("../images/bg-pattern-intro-mobile.svg") center/cover;
    background-size: auto;
    background-position: 40% 45%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin-bottom: 4rem;
  }

  
  .hamburger-icon {
    display: flex;
    margin-left: auto;
  }

  .header-logo {
    height: auto;
  }
  

  /* Intro-texts */
  .intro-texts {
    top: 50%;
    width: 100%;
    padding: 0 15%;
    /* max-width: 90vw; */
    text-align: center;
  }

  .intro-header {
    font-size: 1.9rem;
    margin: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .intro-paragraph {
    font-size: 1.3rem;
    font-weight: 100;
    padding-top: 1.2em;
    /* padding: 5% 10%;
    width: 90vw; */
  }

  /* Intro-buttons */
  .intro-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 77%;
    left: 50%;
    gap: 1rem;
    width: 100%;
    /* transform: translate(-50%, -50%); */
  }

  /* Designed for the future */
  .designed-for-the-future {
    background-image: none;
    height: 185vh;
    position: relative;
    /* background-size: 90%;
    background-position: center 7rem; */
  }

  .designedfuture-header {
    font-size: 1.9em;
    width: 100%;
  }

  .designed-future-logo {
    display: inline-block;
    padding-top: 5rem;
  }

  .designed-future-logo img {
    /* display: flex;
    justify-content: center; */
    height: auto;
    width: 100%;
  }

  .future-designs {
    left: 50%;
    width: 100%;
    padding: 0% 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* margin-top: 18rem; */
  }

  .future-designs h3 {
    font-size: 1.8em;
    width: 100%;
  }

  .future-designs p {
    font-size: 1em;
    width: 100%;
    line-height: 1.8;
  }

  /* State of the Art Infrastructure */
  .art-infrastructure {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    background-position: top;
    position: relative;
    /* background-size: contain; */
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    /* margin: 0; */
    margin-top: 15rem;
    /* max-width: 50vw; */
  }

  .illustration-phones img {
    /* z-index: 10002; */
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 9rem;
    width: 100%;
  }

  .state-of-the-art-infrastructure {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 10%;
    margin-top: 7rem;
  }

  .state-of-the-art-infrastructure h3 {
    font-size: 1.8em;
    width: 100%;
  }

  .state-of-the-art-infrastructure p {
    font-size: 1em;
    width: 100%;
    line-height: 1.8;
  }

  /* About blogr */
  .about-blogr {
    height: 150vh;
    background: none;
    position: relative;
    /* background-size: 100%;
    background-position: center top; */
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .laptop-icon-mobile {
    display: inline-block;
  }

  .laptop-icon-mobile img {
    height: auto;
    width: 100%;
  }

  .about-lists {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 50%;
    width: 100%;
    padding: 0% 10%;
    transform: translate(-50%, -50%);
    /* display: flex;
    flex-direction: column;
    padding: 13rem 10% 0;
    top: 20%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0); */
  }

  .about-lists h3 {
    font-size: 1.8em;
    width: 100%;
  }

  .about-lists p {
    font-size: 1em;
    width: 100%;
    line-height: 1.8;
  }

  /* Footer */
  footer {
    flex-direction: column;
    padding: 20px 10%;
  }

  .footer-icon {
    align-self: center;
    padding-top: 20px;
    height: auto;
    width: 100%;
    max-width: 100px;
    padding: 3rem 0 3rem;
  }

  .services {
    padding-top: 20px;
    text-align: center;

    /* text-align: center; */
  }

  .services h3 {
    padding-bottom: 30px;
  }

  .services a {
    font-size: 0.9em;
  }

  .dropdown,
  .login-link,
  .signup-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
  }

  /* Introduction-div */
  .intro {
    height: 80vh;
    border-bottom-left-radius: 100px;
    background: linear-gradient(to bottom right, #ff8f70, #ff3d54),
      url("../images/bg-pattern-intro-mobile.svg") center/cover;
    background-size: auto;
    background-position: 40% 45%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin-bottom: 4rem;
  }

  
  .hamburger-icon {
    display: flex;
    margin-left: auto;
  }

  .header-logo {
    height: auto;
  }
  

  /* Intro-texts */
  .intro-texts {
    top: 50%;
    width: 100%;
    padding: 0 15%;
    /* max-width: 90vw; */
    text-align: center;
  }

  .intro-header {
    font-size: 1.9rem;
    margin: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .intro-paragraph {
    font-size: 1.3rem;
    font-weight: 100;
    padding-top: 1.2em;
    /* padding: 5% 10%;
    width: 90vw; */
  }

  /* Intro-buttons */
  .intro-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 77%;
    left: 50%;
    gap: 1rem;
    width: 100%;
    /* transform: translate(-50%, -50%); */
  }

  /* Designed for the future */
  .designed-for-the-future {
    background-image: none;
    height: 185vh;
    position: relative;
    /* background-size: 90%;
    background-position: center 7rem; */
  }

  .designedfuture-header {
    font-size: 1.9em;
    width: 100%;
  }

  .designed-future-logo {
    display: inline-block;
    padding-top: 5rem;
  }

  .designed-future-logo img {
    /* display: flex;
    justify-content: center; */
    height: auto;
    width: 100%;
  }

  .future-designs {
    left: 50%;
    width: 100%;
    padding: 0% 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* margin-top: 18rem; */
  }

  .future-designs h3 {
    font-size: 1.8em;
    width: 100%;
  }

  .future-designs p {
    font-size: 1em;
    width: 100%;
    line-height: 1.8;
  }

  /* State of the Art Infrastructure */
  .art-infrastructure {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    background-position: top;
    position: relative;
    /* background-size: contain; */
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    /* margin: 0; */
    margin-top: 15rem;
    /* max-width: 50vw; */
  }

  .illustration-phones img {
    /* z-index: 10002; */
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 9rem;
    width: 100%;
  }

  .state-of-the-art-infrastructure {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 10%;
    margin-top: 7rem;
  }

  .state-of-the-art-infrastructure h3 {
    font-size: 1.8em;
    width: 100%;
  }

  .state-of-the-art-infrastructure p {
    font-size: 1em;
    width: 100%;
    line-height: 1.8;
  }

  /* About blogr */
  .about-blogr {
    height: 150vh;
    background: none;
    position: relative;
    /* background-size: 100%;
    background-position: center top; */
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .laptop-icon-mobile {
    display: inline-block;
  }

  .laptop-icon-mobile img {
    height: auto;
    width: 100%;
  }

  .about-lists {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 50%;
    width: 100%;
    padding: 0% 10%;
    transform: translate(-50%, -50%);
    /* display: flex;
    flex-direction: column;
    padding: 13rem 10% 0;
    top: 20%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0); */
  }

  .about-lists h3 {
    font-size: 1.8em;
    width: 100%;
  }

  .about-lists p {
    font-size: 1em;
    width: 100%;
    line-height: 1.8;
  }

  /* Footer */
  footer {
    flex-direction: column;
    padding: 20px 10%;
  }

  .footer-icon {
    align-self: center;
    padding-top: 20px;
    height: auto;
    width: 100%;
    max-width: 100px;
    padding: 3rem 0 3rem;
  }

  .services {
    padding-top: 20px;
    text-align: center;

    /* text-align: center; */
  }

  .services h3 {
    padding-bottom: 30px;
  }

  .services a {
    font-size: 0.9em;
  }

  .dropdown,
  .login-link,
  .signup-btn {
    display: none;
  }
}

/* media Queries */
/* @media (max-width: 375px) {
  
  body {
    box-sizing: border-box;
    max-width: 100%;
  }

  .dropdown,
  .signup-btn,
  .login-link {
    display: none;
  }

   
.intro-texts{
  max-width: 100vw;
  font-size: 3.5em;
}



  .illustration-phones{
    display: none;
  }

  .designed-for-the-future{
    display: none;
  }

  .state-of-the-art-infrastructure{
    display: none;
  }

  .about-blogr{
    display: none;
  }
} */
